<div class="app-layout">

  <header class="mobile-header">
    <button class="icon-btn" (click)="toggleMenu()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>
    
    <span class="header-title">{{ pageTitle }}</span>

    <div class="spacer"></div> 
  </header>

  <div class="menu-overlay" [class.show]="isMenuOpen" (click)="closeMenu()"></div>

  <app-sidebar [class.open]="isMenuOpen"></app-sidebar>
  
  <div class="main-content">
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>